@charset "UTF-8";

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
/* Шапка */
body{
	font-family: 'Roboto', sans-serif;
}
.header{
	padding: 19px 0;
}
.header-container{
	max-width: 1392px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.nav-link{
	margin-right: 50px;
	color: #011F3A;
	line-height: 18px;
	letter-spacing: 2px;
}
.underline{
	border-bottom: 1px solid #011F3A;
}
.nav-link:first-child::before{
	content: url(../img/star.svg);
	padding-right: 13px;
}
.nav-link:last-child::after{
	content: url(../img/arrow.svg);
	padding-left: 10px;
}
.action{
	display: flex;
	align-items: center;
}
.account{
	margin-right: 25px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #011F3A;
}
.cart{
	display: block;
}
